@import "../../vars.css";

.article-set {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 8px 8px 0;
}

@media (max-width: 520px) {
  .article-set {
    grid-template-columns: 1fr;
  }
}
