:root {
  --primary: #222222;
  --secondary: #ffffff;

  --font-sans: "Noto Sans KR", sans-serif;
  --font-serif: "Noto Serif KR", serif;

  --label-large-font-family: var(--font-sans);
  --label-large-font-size: 21px;
  --label-large-font-style: normal;
  --label-large-font-weight: 700;
  --label-large-line-height: 1.5;

  --paragraph-medium-font-family: var(--font-sans);
  --paragraph-medium-font-size: 16px;
  --paragraph-medium-font-style: normal;
  --paragraph-medium-font-weight: 400;
  --paragraph-medium-line-height: 1.75;
}
